body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin: 20px;
    margin-left: 150px;
}

.game-content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.picture-container {
    position: relative;
    width: calc(100% - 260px);
    margin-left: 20px;
}

.game-image {
    width: 100%;
    height: auto;
}

.drop-box {
    position: absolute;
    border: 1px dashed #000;
    min-width: 70px;
    min-height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    margin: 5px;
    box-sizing: border-box;
}

#drop1

/* ear */
    {
    top: 10px;
    left: 170px;
}

#drop2

/* bridle */
    {
    top: 25px;
    left: 260px;
}

#drop3

/* mane */
    {
    top: 70px;
    left: 400px;
}

#drop4

/* withers */
    {
    top: 120px;
    left: 540px;
}

#drop5

/* back */
    {
    top: 130px;
    left: 670px;
}

#drop6

/* stifle */
    {
    top: 370px;
    left: 830px;
}

#drop7

/* tail */
    {
    top: 360px;
    left: 1100px;
}

#drop8

/* hock */
    {
    top: 690px;
    left: 875px;
}

#drop9

/* hoof */
    {
    top: 790px;
    left: 840px;
}

#drop10

/* barrel */
    {
    top: 560px;
    left: 660px;
}

#drop11

/* fetlock */
    {
    top: 730px;
    left: 340px;
}

#drop12

/* elbow */
    {
    top: 620px;
    left: 330px;
}

#drop13

/* reins */
    {
    top: 490px;
    left: 280px;
}

#drop14

/* bit */
    {
    top: 420px;
    left: 220px;
}

#drop15

/* muzzle */
    {
    top: 330px;
    left: 33px;
}

#drop16

/* eye */
    {
    top: 200px;
    left: 25px;
}

#drop17

/* forelock */
    {
    top: 85px;
    left: 50px;
}

#drop18

/* shoulder */
    {
    top: 370px;
    left: 430px;
}

.words {
    position: fixed;
    right: 20px;
    top: 60px;
    width: 180px;
    min-height: 300px;
    max-height: 80vh;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    text-align: center;
}

.word {
    padding: 5px;
    margin: 2px;
    border: 1px solid #000;
    display: inline-block;
    cursor: grab;
    font-size: 26px;
}

.check-button {
    margin: 20px;
    font-size: 26px;
}